body{
  background-color: beige;
}

.student{
  display:flex;
  flex-direction: column;
  gap:0.25 rem;
}
.students{
  display:flex;
  flex-direction: column;
  gap:3 rem;
}

.student p,
.student h3{
margin:0;
}